.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.name{
    background-color: #eee;
    width: 90%;
    height: 55px;
    box-shadow: 5px 5px 10px #999;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    padding-left: 30px;
    border-radius: 5px;
    font-family: 'SemiCondensed';
    font-weight: 600;
    transition: 0.5s;
    margin-bottom: 10px;
}
.name:hover{
    margin-top: 25px;
    margin-bottom: 15px;
}

.table{
    display: flex;
    flex-direction: column;
    font-family: 'Oxygen';
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background-color: #eee;
    box-shadow: 5px 5px 10px #999;
    border-radius: 8px;
    border-color: #24292E;
    border-style: solid;
    border-width: 2px;
}
.table div{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.header{
    background-color: #24292E;
    height: 50px;
    border-radius: 5px 5px 0 0;
    color: white;
    font-weight: 600;
}
.header div{
    display: flex;
    width: fit-content;
    text-align: center;
    align-items: center;
    margin: auto;
}
.table .row{
    height: 30px;
}